
*{
    font-family: monospace;
}

body{
    display: flex;
    background-color: #282828;
    justify-content: center;
}

body p{ 
    color: beige;
}

.header{
    color: beige;
    text-align: center;
}

.introduction{
    text-align: center;
}

.projects{
    display: flex;
    color: beige;
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: center;
}
  
.topnav-left a {
    flex: 1;
    color:darkturquoise;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}
  
.topnav-left a:hover {
    color:aqua;
}
  
.topnav-centered a {
    flex: 1;
    color:darkturquoise;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

.topnav-centered a:hover {
    color:aqua;
}

.topnav-centered-right a {
    flex: 1;
    color:darkturquoise;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

.topnav-centered-right a:hover {
    color:aqua;
}
  
.topnav-right a{
    flex: 1;
    color:darkturquoise;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

.topnav-right a:hover {
    color:aqua;
}

